/* new */
#tabela {
  margin-left: -10px;
  width: 800px;
  height: 365px;
  overflow: hidden;
}
#tabela::-webkit-scrollbar {
  display: none;
}
.pdf-icon {
  height: 15px;
  width: 15px;
}
#tab-fundo, #tab-contato, #tab-equipe {
  height: 460px;
  padding: 0 10px;
}
h4 {
  margin-bottom: 0 !important;
}

/* old */
body {
	background-color:#F2F2F2;
}

p {
	margin:0;
	padding:0;
	border:0;
	text-align: justify;
	line-height:160%;
	font-size: 87.5%;
	font-family: trebuchet ms, verdana, sans-serif;
	color:#616161;
}

#lateral{
	font-size:75%;
	line-height:150%;
	text-align:left;
}


#container{
	width: 1140px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color:#FFF;
}

#textodisclaimer{
	font-size:65%;
	line-height:150%;
	text-align:justify;
}

#logo{
	padding: 15px 20px 15px 20px;
	height:115px;
}

#menu{
	position:relative;
	float: right;
	padding: 115px 20px 15px 20px;
	height: 25px;
	background-color:#FFFFFF;
}
#menu a {
  margin-left: 20px;
}

#top {
	background-image: url("top.png");
	height:30px;
	clear:both;
}

#imagem {
	margin: 0 auto ;
	padding: 0 20px 20px 20px;
	height:250px;
	width:958px;
	float:left;
	background-color:#FFFFFF;
	clear:both;
}

#contato {
	position:relative;
	padding-left: 20px;
	height:380px;
	background-color:#FFFFFF;
	margin-right: 630px;
}

#contato_lat {
	float: right;
	height:380px;
	width:580px;
	background-color:#FFFFFF;
}

#bottom {
	background-image: url("bottom.png");
	height:55px;
	clear:both;
}

#anbima {
	position:relative;
	background-color:#FFFFFF;
	padding: 20px 20px 20px 28px;
	height:100px;
	float:right;
}
#anbima img {
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin-bottom: 5px;
}

#disclaimer {
	position:relative;
	padding: 20px 0px 20px 20px;
	background:#fff;
	height: 116px;
	width:920px;
  margin-bottom: 10px;
}

#footer {
	background: #32525D;
	padding:5px;
	border:1px solid #CCCCCC;
	height:25px;
	box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
}
#textofooter{
  color: white;
	font-size:68.8%;
	line-height:150%;
	text-align:center;
}
