.small-text { font-size: 11px; }
.condensed-text { line-height: 13px; }
.pdf-icon { height: 14px; }

#tab-fundo, #tab-contato, #tab-equipe {
  min-height: 460px;
  margin-top: 40px;
}

#tab2 h4 {
  margin-bottom: 0 !important;
}

body, p, ul, li, list-group-item {
	color: rgb(27,63,107) !important;
}

#container {
	width: 1140px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color:#FFF;
}

#logo {
  height: 60px;
  top: 40px;
  position: absolute;
}

ul.nav {
  margin-top: 110px;
}

#contato_lat {
	float: right;
	max-height:380px;
	max-width:580px;
	background-color:#FFFFFF;
}
